<h1>Your shopping cart</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th colspan="2"></th>
  </tr>

  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.name %></td>
      <td><%= cart_item.price %></td>
      <td><%= link_to 'Show', user_cart_item_path(current_user, cart_item) %></td>
      <td><%= link_to 'Edit', edit_user_cart_item_path(current_user, cart_item) %></td>
      <td><%= link_to 'Destroy', user_cart_item_path(current_user, cart_item),
                          method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
