<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Back', products_path %>

<%= form_tag "/users/#{current_user.id}/cart_items" do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag 'add to cart' %>
<% end %>
