<!DOCTYPE html>
<html>
<head>
  <title>ShoppingCart</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <%= link_to 'Home', homepage_index_path %>
  <%= link_to 'Shopping Cart', user_cart_items_path(current_user) %>


    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
    <h3>Hello <%= current_user.email %></h3>
<% else %>
  <%= link_to 'Sign In', user_session_path, :method => :post %>
<% end %>

<%= yield %>


</body>
</html>
